<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header_section">
        <div class="container">
            <div class="header flex">
                <a href="/">
                    <strong>
                        <img class="logo" src="/images/logo.png" alt="">
                    </strong>
                </a>

                <a href="/events/new">
                    <button class="btn">
                        Add Event
                    </button>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="main_section">
            <div class="container">
                <h2 class="event_list">List of Events</h2>
                <div class="flex">
                    <aside class="aside flex-25">
                        <h3 class="categories_heading">Search By</h3>
                        <div class="line"></div>
                        <h3 class="categories_heading category_heading_new">Category</h3>

                        <% allCategories.forEach(category=> { %>
                            <a href="/categories/<%= category  %> ">

                                <button class=" btn category_btn">
                                    <%= category %>
                                </button>
                            </a>
                            <% }) %>


                                <div class="line"></div>
                                <h3 class="categories_heading">Location</h3>

                                <% location.forEach(location=> { %>
                                    <a href="/location/<%= location  %> ">
                                        <button class="btn category_btn location_btn">
                                            <%= location %>
                                        </button>
                                    </a>
                                    <% }) %>

                                        <div class="line"></div>
                                        <h3 class="categories_heading">Date</h3>

                                        <a href="date/ascend">
                                            <button class="btn ascend_btn">
                                                Ascending
                                            </button>
                                        </a>
                                        <a href="date/descend">
                                            <button class="btn descend_btn">
                                                Descening
                                            </button>
                                        </a>


                    </aside>

                    <section class="events_section flex-70">
                        <div>
                            <% events.forEach(event=> { %>
                                <div class="event_single">
                                    <h2 class="title">
                                        <%= event.title %>
                                    </h2>
                                    <h3 class="summary">
                                        <%= event.summary %>
                                    </h3>

                                    <a href="/events/<%= event.id  %> ">
                                        <button class="btn view_event_btn">
                                            View Event
                                        </button>
                                    </a>
                                </div>
                                <% }) %>
                        </div>
                    </section>
                </div>
            </div>
        </section>

    </main>

    <% include partials/footer %>
</body>

</html>